.footer {
    margin: 0 auto;
    height: 120px;

    &__container {
        width: 100%;
        margin: 20px 0;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.contacts__list {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    &--item {
        position: relative;
        width: 45px;
        height: 45px;
        padding: 7px 8px;
        border: 2px solid rgb(88, 88, 88);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        transition: all 0.3s ease !important;
        transform-origin: center !important;
        
        &:hover {
            transform: scale(1.1);
        }

        a::after {
            content: attr(aria-label);
            position: absolute;
            bottom: -35px;
            left: 50%;
            padding: 5px 10px;
            transform: translateX(-50%);
            font-size: 0.8em;
            background-color: #333;
            color: #fff;
            border-radius: 5px;
            white-space: nowrap;
            opacity: 0;
            visibility: hidden;
            transition: all 0.4s ease !important;
        }

        &:hover a::after {
            opacity: 1;
            visibility: visible;
        }
         
    }
}