@import '/src//styles.scss';

.genre__list--item {
  margin: 0 20px;
  min-height: 430px;
  min-width: 230px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  perspective: 1000px;
  transition: all 0.3s ease;

  .genre__item-front {
    @include genre-item;
  }

  .genre__title {
    @include title-styles;
  }

  .genre__list--inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 430px;
    width: 230px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }
}

.genre__list--inner.flipped {
  transform: rotateY(180deg);
}
