@import '@a1rth/css-normalize/index.css';

@font-face {
    font-family: "Roboto";
    src: url('./fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url('./fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
}

.wrapper {
    min-height: 100vh;
}

.header {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.games__container {
    margin-bottom: 20px;
    border: 2px solid gray;
}

.games__container h1 {
    text-align: center;
    font-size: 2em;
}


.genre__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    gap: 50px;
    
}

.genre__list--item {
    margin: 0 20px;
    height: 430px;
    width: 230px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    perspective: 1000px;
}

.genre__title {
    font-size: 1.4em;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.genre__title::after { 
    content: ''; 
    position: absolute;
    left: 0; 
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.3s ease !important;
}

.genre__title:hover::after {
    transform: scaleX(1);
}

.genre__list--inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 430px;
    width: 230px;
    transform-style: preserve-3d;
    transition: transform 0.6s !important;
}

.genre__item-front,
.genre__item--back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

.genre__item--back {
    transform: rotateY(180deg);
}

.genre__description--text {
    padding: 20px 20px; 
}

.genre__list--inner.flipped {
    transform: rotateY(180deg);
}



.game__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*
подумать над тем чтобы текст
выравнивался по одной линии  
*/

.game__list--item {
    position: relative;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 166px;
    height: 66px;
    text-align: center;
    margin: 10px 0;
    overflow: hidden;
    padding: 1px; 
    transition: all 0.3s ease !important;
}

.game__list--item:hover {
    transform: scale(1.1);
}

.game__list--item img {
    position: absolute;
    top: 0; 
    z-index: 1;
    filter: brightness(50%); 
    transition: all 0.3s ease !important;
}

.game__list--item h3 {
    font-size: 1em;
    z-index: 2;
    position: absolute;
    top: 25%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-weight: bold;
    transition: opacity 500ms ease; 
}

.game__list--item:hover img {
    filter: brightness(100%);
    transform: scale(1.1);
}

.game__list--item:hover h3 {
    opacity: 0;
}


.show__more {
    display: inline-block; 
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #000000;
    white-space: nowrap;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(128, 126, 126, 0.5);
    transition: all 0.3s ease !important;
    cursor: pointer;
    /* 
    Причина в этом медиа запросе из normalize, позже стоит исправить
    @media (prefers-reduced-motion: reduce) {
        *,
        ::before,
        ::after {
          animation-duration: 0.01ms !important;
          animation-iteration-count: 1 !important;
          transition-duration: 0.01ms !important;
          scroll-behavior: auto !important;
        }
      } */

}

.show__more:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    transform: scale(1.05);
}

.footer {
    position: relative;
    margin: 0 auto;
    height: 100px;
}

.footer__container {
    width: 100%;
    margin-top: 20px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts__list {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.contacts__list--item {
    position: relative;
    width: 45px;
    height: 45px;
    padding: 7px 8px;
    border: 2px solid rgb(88, 88, 88);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transition: all 0.3s ease !important;
    transform-origin: center !important;
}

.contacts__list--item:hover {
  transform: scale(1.1);
}

.contacts__list--item a::after {
    content: attr(aria-label);
    position: absolute;
    bottom: -35px;
    left: 50%;
    padding: 5px 10px;
    transform: translateX(-50%);
    font-size: 0.8em;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease !important;
}

.contacts__list--item:hover a::after {
    opacity: 1;
    visibility: visible;
}
