@import './normalize.css';

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  color: var(--color--primary);
  background-color: var(--color--background);
}

:root {
  --color--background: #ffffff;
  --color--primary: #20232a;
  --color--foreground: #20232a;
  --color--tertiary: #f8f9fb;
  --border-style: solid;
}

body.dark {
  --color--background: #20232a;
  --color--primary: #ffffff;
  --color--foreground: #c9c9c9;
  --color--tertiary: #282c34;
  --border-style: solid;
}
