@import './normalize.css';

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  color: var(--color--primary);
  background-color: var(--color--background);
}

:root {
  --color--background: #ffffff;
  --color--primary: #20232a;
  --color--foreground: #20232a;
  --color--tertiary: #f8f9fb;
  --border-style: solid;
}

body.dark {
  --color--background: #20232a;
  --color--primary: #ffffff;
  --color--foreground: #c9c9c9;
  --color--tertiary: #282c34;
  --border-style: solid;
}

.games__list {
  display: grid;  
  grid-template-columns: repeat(auto-fill, minmax(250px, 280px));
  gap: 16px;
  height: auto;                
  min-height: 200px;                    
  transition: height 0.3s ease-in-out;   
  justify-content: center;
}

.games__list--item {
  background: #fff;
  padding: 16px;                    
  border-radius: 8px;
  height: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.game__studio {
  font-size: 14px;
  color: #666;
}

.genre__page {
  width: 100%;
  min-height: 100vh;
  padding-top: 40px;
}

.games__grid {
  height: auto;
}